.left-config {
  // position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 270px;
  background-color: #808080;
  display: flex;
  flex-direction: row;
  .left-nav {
    width: 81px;
    height: 100%;
    background-color: #444;
    ul {
      padding: 0;
      margin: 0 15px;
    }
    li {
      list-style: none;
      line-height: 35px;
      text-align: center;
      cursor: pointer;
    }
    .active {
      color: blue;
      border-bottom: 2px solid blueviolet;
    }
  }
  .left-content {
    flex-grow: 1;
    height: 100%;
  }
}
